// Custom styles.

//标题区
.headband {
  display: none;
}
.brand {
//  background: transparent;
  color: #fff;
}
.site-meta .site-subtitle {
  font-family: Lato, "PingFang SC", "Microsoft YaHei", Georgia, sans-serif;
  color: #666;
}

// 导航栏背景
.header{
    background: url("/uploads/circuit_bg.jpg");
}

.header-inner{
  padding: 25px 0 20px;
}

// 文章样式
.post{
  margin-bottom: 40px;
  padding: 50px 30px 25px;
  -webkit-box-shadow: 0 0 14px #cacbcb;
  -moz-box-shadow: 0 0 14px #cacbcb;
  box-shadow: 0 0 14px #cacbcb;
  background: #fff;
  border-radius: 10px;
}

.posts-expand .post-eof {
  display: block;
  margin: 0px auto 30px;
  width: 0;
}

//赞赏按钮样式
#rewardButton span {
  height: 35px;
  width: 35px;
  //line-height:30px; 
  font-size: 15px;
  font-family: "PingFang SC", "Microsoft YaHei", Georgia, sans-serif;
  background: #34495e;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.2s ease-out;

  &:hover {
  background: #649ab6;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
}

#wechat:hover p, #alipay:hover p {
  animation: none;
}

//文章页内标签样式
.posts-expand .post-tags {
  margin: 40px 10px 0 10px;
  text-align: right;
}

.posts-expand .post-tags a {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-family: 'Comic Sans MS', sans-serif;
  transition: 0.2s ease-out;
  padding: 3px 5px;
  margin: 5px;
  background: #f5f5f5;
  border-bottom: none;
  border-radius: 15px;

  &:hover {
  background: rgba(100,154,182,0.902);
  color: #fff;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

.tag-cloud a {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.2s ease-out;
  padding: 2px 10px;
  margin: 8px;
  background: #f5f5f5;
  border-bottom: none;
  border-radius: 12px;

  &:hover {
  text-decoration: none;
  background: rgba(100,154,182,0.902);
  color: #fff !important;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

